<hr>
<h2 style="color:#a04000;">All Employees List</h2>
<hr><br>
 
  <% @employee.each do |e| %>
    <div class="well">
	 	<h2><%= e.name %></h2>
	 	<%= link_to  "View More >>", e, :class => 'btn btn-success btn-sm' %>
    </div>
<hr>

  <% end %>