<h2 style="color:blue;">New Employee</h2>
<hr>

  <%= form_for @employee do |f| %>
	<% if @employee.errors.any? %>
		<% @employee.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
    <% end %>
	
	<div>
	<p>
		<h5><b><%= f.label :name %><br></b></h5>
		<%= f.text_field :name %>	
	</p>
	
	<p>
		<h5><b><%= f.label :age %><br></b></h5>
		<%= f.text_field :age %>	
	</p>
	
	<p>
		<h5><b><%= f.label :designation %><br></b></h5>
		<%= f.text_field :designation %>	
	</p>
	
	<p>
		<h5><b> <%= f.label :gender %><br></b></h5>	
 		<%= f.radio_button(:gender, 'male') %>
 		<b><%= f.label("Male", :Male) %></b>
		<%= f.radio_button(:gender, 'female')%>
		<b><%= f.label("Female", :Female) %></b>	
	</p>
	</div>
<hr>
	<p>
	<%= f.submit({:class => 'btn btn-primary'}) %>
	</p>

<% end %>	
