<h2 style="color:#11510f;">Employee details</h2>
<hr>
<h4><strong>Name : </strong><%= @employee.name %><br>
 	<b>Age : </b><%= @employee.age %><br>
	<b>Gender : </b><%= @employee.gender %><br>
	<b>Designation : </b><%= @employee.designation %><br>
	</h4>

	<hr>

	<%= link_to "Edit" ,edit_employee_path, :class => 'btn btn-primary' %>
	
	<%= link_to "Delete" ,@employee, method: :delete,data:{confirm: 'Are you sure you want to delete?'}, :class => 'btn btn-danger' %>