<!DOCTYPE html>
<html>
  <head>
    <title>My Employees</title>
    
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      
      <div class="collapse navbar-collapse" id="navbarCollapse" >
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active ">
             <%= link_to "Home", home_path, {:class => 'nav-link'} %>
          </li>
          
          <li class="nav-item active">
            <%= link_to " Add Employee", new_employee_path, {:class => 'nav-link'} %>
          
          </li>

        </ul>
      </div>
      
    </nav>


	<div class="container" align="center">
    	<div class="jumbotron">
    		<%= yield %>
    	</div>
	</div>



  </body>
</html>



